{{#> layout title="Home"}}
    <div class="homeContainer">

            <div class="homeComum">
                <p class="phomecomun">Confira os ingressos em destaque e suas compras recentes.</p>
                <div class="lista">
                    <div class="section-baratos">
                        <h3>💰 Ingressos Mais Baratos</h3>
                        <ul class="lista-baratos"></ul> <!-- Classe adicionada -->
                    </div>
                    <div class="section-pouca-qtd">
                        <h3>⚠️ Últimos Ingressos Disponíveis</h3>
                        <ul class="lista-pouca-qtd"></ul> <!-- Classe adicionada -->
                    </div>
                </div>
            </div>
            <script src="/script/home.js"></script>

    </div>
{{/layout}}