{{!-- Página de Login --}}
{{#> layout}}
    <div class="container">
        <h2>Login</h2>
        <form id="login-form" class="login-form">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required placeholder="Digite seu e-mail">
            
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required placeholder="Digite sua senha">
            
            <button type="submit" class="btn">Entrar</button>
        </form>
        
        <p class="link">Ainda não tem uma conta? <a href="/register">Cadastre-se</a></p>
    </div>
    <script src="/script/login.js"></script>
{{/layout}}