{{#> layout}}
<h2>Lista de Ingressos</h2>
<form id="search-form">
    <input type="text" id="search-input" placeholder="Pesquisar ingresso...">
    <button type="submit">Buscar</button>
</form>

<ul class="ticket-list">
    <!-- Lista de ingressos será preenchida aqui -->
</ul>
<script src="/script/ticket.js"></script>
{{/layout}}